.btn {
    padding: 5px 25px;

    border: 1px solid var(--black-color);
    border-radius: 17px;
   

    font-family: Cardo;
    font-size: 17px;
    line-height: calc(25 / 17);
    text-transform: lowercase;

    @include mobile-L () {
        font-size: clamp(0.938rem, 0.885rem + 0.26vw, 1.063rem);
    }
}

.btn-min {
    padding-top: 0px;
    padding-bottom: 0px;
    
} 